{% load static %}
{% load compress %}
{% load i18n %}

{% compress js %}
    <script type="text/javascript" src="{% static "pretix_adyen/pretix-adyen.js" %}"></script>
{% endcompress %}
{% compress css %}
    <link type="text/css" rel="stylesheet" href="{% static "pretix_adyen/pretix-adyen.css" %}">
{% endcompress %}

<script src="https://checkoutshopper-{{ environment }}.adyen.com/checkoutshopper/sdk/5.50.0/adyen.js"
        integrity="sha384-mlPih3LNuGzopABhn4tIqvQlPj8odHPXJoSX2EC9ZTh+7GpEuNR0Jg7rpv8V56Uj"
        crossorigin="anonymous"></script>

<link rel="stylesheet" href="https://checkoutshopper-{{ environment }}.adyen.com/checkoutshopper/sdk/5.50.0/adyen.css"
     integrity="sha384-k6qYnmoHaucEm97eQQAs3MK5e44JQ2sksrue2tfdDOnnedKzc0VYQwxzdYWZu8Mj"
     crossorigin="anonymous" />

<script type="text/plain" id="adyen_locale">{{ locale }}</script>
<script type="text/plain" id="adyen_environment">{{ environment }}</script>
<script type="text/plain" id="adyen_clientKey">{{ clientKey }}</script>
<script type="text/plain" id="adyen_paymentMethodsResponse">{{ paymentMethodsResponse|safe }}</script>
